################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VegetableShop/FileContentIndex/2502ef49-774b-42ac-bd28-72996195216a.vsidx
/.vs/VegetableShop/FileContentIndex/a5cc6ed0-79b2-44cd-a123-18f2b0ddd279.vsidx
/.vs/VegetableShop/FileContentIndex/ad1b2785-711d-40e4-b897-8e4bd07dc392.vsidx
/.vs/VegetableShop/FileContentIndex/97171205-ece1-41dc-b69c-e9bfebd9f752.vsidx
/.vs/VegetableShop/FileContentIndex/2502ef49-774b-42ac-bd28-72996195216a.vsidx
*.vsidx
/.vs/VegetableShop/FileContentIndex/ad1b2785-711d-40e4-b897-8e4bd07dc392.vsidx
/.vs/VegetableShop/FileContentIndex/5f52a164-9193-4af8-b516-38237d383589.vsidx
/.vs/VegetableShop/FileContentIndex/ad1b2785-711d-40e4-b897-8e4bd07dc392.vsidx
/.vs/VegetableShop/FileContentIndex/5f52a164-9193-4af8-b516-38237d383589.vsidx
/.vs/VegetableShop/FileContentIndex/2502ef49-774b-42ac-bd28-72996195216a.vsidx
/VegetableShop.sln
/VegetableShop.sln
